<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/images/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This website is created by Gaurav Sharma.The data is used from mapbox and darkskyapi.</p>
            <img class="portrait" src="./images/images.jpg">
        </div>
        
        {{>footer}}
    </body>
</html>