<!DOCTYPE html>

<html>
    <head>
        
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            {{>404}}
        </div>
        
        {{>footer}}
    </body>
</html>